body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* Login Page */

#login-page {
  background-image: linear-gradient(#40ff9c, #0a8f51);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: #fff;
  border-radius: 22px;
}
.emailLogin {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

label>input {
  padding: 10px 20px;
  width: 230px;
  border-radius: 5px;
  border: 1px solid #ccc;
  grid-auto-flow: column;
}
button, .sendMessage {
  cursor: pointer;
  color: white;
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  display: inline-block;
  font-weight: 700;
  background-color: #07c160;
  font-size: 18px;

}
.email-btns {
  margin: 10px 10px 40px 0;
}
.email-btns>button {
  margin: 0 10px 0 10px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
  font-weight: 700;
}

.facebook {
  background-color: #3b9879;
}

.google {
  background-color: #269772;
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(39,39,39,.92);;
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}

.chatsPage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(39,39,39,.93);
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
  column-gap: 10px;
}

.logoTab {
  font-size: 32px;
  font-weight: 700;
  color: white;
  line-height: 30px;
}

.messagesLink {
  cursor: pointer;
  color: white;
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  display: inline-block;
  font-weight: 700;
  background-color: #07c160;
  font-size: 18px;
  justify-self: end;
}

.logoutTab {
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.chatBlock {
  width: 70%;
  height: 70vh;
  margin: 80px auto 0;
  background-color: rgb(64, 63, 63, .9);
  overflow: auto;
  padding: 30px;
}
.chatLabel {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  column-gap: 10px;
}

.chatInput {
  width: 500px;
  height: 50px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.userMessageWrap {
  list-style-type: none;
  width: fit-content;
  max-width: 300px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}
.messageBox {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 8px;
}

#userImg {
  width: 30px;
  border-radius: 50px;
  grid-area: 1 / 1 / 1 / 1;
}

#userName {
  font-size: 18px;
  color: rgb(123, 123, 123);
  font-weight: 400;
  margin-left: auto;
  grid-area: 1 / 2 / 1 / 2;
  cursor: pointer;
}
#message {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  grid-area: 2 / 1 / 2 / 3;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(39,39,39, 0.043);
  display: grid;
  justify-items: center;
  align-items: center;
}
.modal__content {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
  width: 30%;
  padding: 25px;
  background: #fff;
  border-radius: 6px;
}
